<div class="user-panel">
  <div class="pull-left image">
    <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
  </div>
  <div class="pull-left info">
    <p>Alexander Pierce</p>
    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
  </div>
</div>
<!-- <form action="#" method="get" class="sidebar-form">
  <div class="input-group">
    <input type="text" name="q" class="form-control" placeholder="Search...">
    <span class="input-group-btn">
      <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</form> -->
<form action="#" class="sidebar-form ng-untouched ng-pristine ng-valid" method="get" novalidate="">
  <div class="input-group">
    <input class="form-control" name="q" placeholder="Search..." type="text">
    <span class="input-group-btn">
      <button class="btn btn-flat" id="search-btn" name="search" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</form>


<ul class="sidebar-menu">

  <li class="ng-star-inserted menu-open">
    <a routerLink="{{domain}}/dashboard">
      <i class="fa fa-circle-o"></i>
      <span>Dashboard</span><!---->
    </a>
  </li><!---->

  <li>
  <a routerLink="{{domain}}/dashboard/employee">
      <i class="fa fa-circle-o"></i>
      <span>Employees</span><!---->
    </a><!---->
  </li><!---->
</ul><!---->