<ng-container *ngIf="customLayout; else noCustomLayout">
  <router-outlet></router-outlet>
</ng-container>

<ng-template  #noCustomLayout>
  <mk-layout-wrapper>
    <mk-layout-header>
      <mk-layout-header-logo>
        <img src="../../assets/img/talentloop_2.png" width="auto" height="50">
      </mk-layout-header-logo>
      <mk-layout-header-logo-mini>
        <!-- <b>A</b>LTE -->
        <img src="../../assets/icons/icon-green-2.png" width="auto" height="22">
      </mk-layout-header-logo-mini>
      <app-header-inner></app-header-inner>
    </mk-layout-header>
    <mk-layout-sidebar-left>
      <app-sidebar-left-inner></app-sidebar-left-inner>
    </mk-layout-sidebar-left>
    <mk-layout-sidebar-right>
      <app-sidebar-right-inner></app-sidebar-right-inner>
    </mk-layout-sidebar-right>
    <mk-layout-content>
      <div mk-layout-content-before-header>
        <div *mkLoadingPage="{checkPendingHttp: true, checkPendingRoute: true}">
          <mk-material-bar></mk-material-bar>
        </div>
      </div>
      <router-outlet></router-outlet>
    </mk-layout-content>
    <mk-layout-footer>
      <mk-layout-footer-left>
        <strong>Powered by <a href="https://talentloop.net">Talentloop</a>.</strong>
      </mk-layout-footer-left>
      <mk-layout-footer-right>
        <b>Version</b> 0.0.6
      </mk-layout-footer-right>
    </mk-layout-footer>
  </mk-layout-wrapper>
</ng-template>

<ng-template *ngIf="!authDomain || !authUser">
  <router-outlet></router-outlet>
</ng-template>




