.page-title-container{
    background-color:   #6AAD40;
    margin-top: 10px;
}
.page-title{
    color: #fafafa;
}
.page-title,
.page-title-label{
    margin-bottom: 0;
    padding: 10px;    
}
.dashboard-list table tr{
    text-align: center;
}
.dashboard-list table td{
    text-align: center!important;
    padding-top:0.3em;
    padding-bottom:0.3em;
}
.container .dashboard-list .table-responsive{
    overflow:initial;
}
.card.card-block.container{
    border:0;
}


/* Drug Interaction */
.search-drug-prescription{
    margin-top: 1em;

}
.searched-drug-list-result{
    max-height: 300px;
    overflow-y: auto;
}
.drug-added-entity{
    background-color: #00ffff!important;
    border: 2px solid #00aaaa!important;
    border-radius: 10px!important;
    padding: 7px!important;
    color: #000000!important;
    margin:5px;
    position: relative;
}
.remove-drug-icon{
    color: red!important;
    border: 1px solid #fafafa!important;
    border-radius: 5px!important;
    font-size: 20px!important;
    text-align: right!important;
    background-color: #fafafa!important;
    position: absolute;
    top: -8px;
    width: 20px;
    border: 2px solid #0dadad!important;
    right: -8px;
    cursor: pointer;
}
.duplicate-therapy-toggle{
    background-color: #b71d34;
    border-radius: 5px;
    padding: 5px 0;
    .duplicate-therapy-toggler,
    a{
        color:#fafafa;
    }
     a.collapsed{
        
        i:before{
            content: "\f067"!important;
        }
    }
     a{
        i:before{
            content: "\f068"!important;
        }
    }
}
.duplicate-title{
    margin-bottom: 0;
    color: #fafafa
}
.duplicate-therapy-row{
    margin-top:0.5em;
    margin-bottom:0.5em;
    
    .warning-icon.fa.fa-square-o{
        color: #B71D34!important;
        background: #B71D34!important;
        border-color: #B71D34!important;
        margin: 0.1em;
        background-color: #B71D34!important;
        margin: 3px;
        border-radius: 2px;
        &:before{
            color: #B71D34;
            border: 0;
            border-radius: 12px;
        }
    }
}
i.level-warning-icon.warning-icon.fa.fa-square-o{
        color: #B71D34!important;
        background: #B71D34!important;
        border-color: #B71D34!important;
        margin: 0.1em;
        background-color: #B71D34!important;
        margin: 3px;
        border-radius: 2px;
        &:before{
            color: #B71D34;
            border: 0;
            border-radius: 12px;
        }
}
.border-default{
    border: 1px solid!important;
    border-radius: 5px;
}
.border-default-right{
    border-right: 1px solid;
}
.drug-prescription-form{
    background: #fafafa;
    padding: 10px;
    max-width: 80px;
    margin: 0 auto;
}

.form.button.mat-raised-button {
    background-color: #147521!important;
    color: #fff!important;
    &:hover{
      background-color:#B71D34!important;
    }
}

.cdk-overlay-container #cdk-overlay-0.cdk-overlay-pane  {
    top:521px!important;
}



.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

.mat-focused, 
.mat-input{
      color:#147521!important;
}

.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }


  .flex-grid {
    display: flex;
  }
  .col {
    flex: 1;
  }

  @media (max-width: 400px) {
    .flex-grid {
      display: block;
    }
  }

  .flex-grid-thirds {
    display: flex;
    justify-content: space-between;
  }
  .flex-grid-thirds .col {
    width: 32%;
  }
.department-list-grid{
   margin: 10px;
   padding: 25px;
   text-align: center;
   cursor: pointer;
   min-height: 10em;
}
.department-title{
    color: #fafafa;
}

.department-list-grid:hover {
   opacity: 0.8;
}

.full-width{
  width: 100%;
}
.half-width{
  width: 50%;
}
.q-width{
  width: 25%;
}

#app {
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
#video {
    background-color: #000000;
}

#canvas {
    display: none;
}
li {
    display: inline;
    padding: 5px;
}

.employee-row{
  padding: 1rem;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-table{
  display : flex;
}

.mat-row{
  cursor: pointer;
}

.employee-list-row:hover{
  background-color: #6AAD40;
  color:#fafafa;
  td{
    color:#fafafa;
  }
}
