<ol class="breadcrumb">
	<li class="breadcrumb-item list ng-star-inserted" >
        <a routerLink="/{{domain}}/dashboard" class="ng-star-inserted">      Dashboard 
        </a>
    </li>
    <li class="breadcrumb-item list ng-star-inserted" >
                  
        Employee 

    </li>
</ol> 


<div class="col-md-12">
    <!-- Employee Records -->
    <div class="page-title-container col no-pad mar-t-0 mar-b-10">
        <p *ngIf="employees" class="page-title no-pad no-mar">
            <b>Employees</b>
        </p>
    </div>
    <div class="container admin-view">
        <div class="col on-view">
            
            <!-- Employee List -->
            <div class="tab-content row">
                <!--Department Information-->
                <div role="tabpanel" class="col tab-pane fade in active show border-top-0 pad-left-0 pad-right-0">

                	<div class="table-responsive">
	                	<mat-form-field>
						  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
						</mat-form-field>

						<div class="mat-elevation-z8">
						  <table mat-table (page)="page" [dataSource]="dataSource" matSort>

						    <!-- ID Column -->
						    <ng-container matColumnDef="id">
						      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
						      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
						    </ng-container>

						    

						    <!-- First Name Column -->
						    <ng-container matColumnDef="firstname">
						      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
						      <td mat-cell *matCellDef="let row"> {{row.user_data.first_name}} </td>
						    </ng-container>

						    <!-- Last Name Column -->
						    <ng-container matColumnDef="lastname">
						      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
						      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.user_data.last_name}} </td>
						    </ng-container>

						    <!-- Email Column -->
						    <ng-container matColumnDef="email">
						      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
						      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
						    </ng-container>

						    <!-- Department Column -->
						    <ng-container matColumnDef="department">
						      <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
						      <td mat-cell *matCellDef="let row"> {{ row.department.name }} </td>
						    </ng-container>

						    <!-- Job Title Column -->
						    <ng-container matColumnDef="job_title">
						      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Title </th>
						      <td mat-cell *matCellDef="let row"> Developer </td>
						    </ng-container>

						    <!-- Status Column -->
						    <ng-container matColumnDef="status">
						      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
						      <td mat-cell *matCellDef="let row"> {{ row.status ==1 ? "Active" : "Inactive" }} </td>
						    </ng-container>


						    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

						    <tr mat-row class="employee-list-row" *matRowDef="let row; columns: displayedColumns;" (click)="viewEmployeeDetail(row)" >

						    </tr>
						  </table>

						  <mat-paginator  *ngIf="!loading"
						  	class = "pull-left"
						   [length]="length"
                           [pageSize]="pageSize"
                           [pageSizeOptions]="pageSizeOptions"
                           (page)="onPageChange($event)">
						  ></mat-paginator>

						</div>
					</div>

                    <div *ngIf="!loading && !employees" class="col-md-12">
                        <h2 class="text-danher">Employee list not found</h2>
                    </div>

                    <div *ngIf="loading" class="col-md-12 text-center">
                        <img src="../../../assets/icons/loading.gif">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <dashboard-employee-detail *ngIf="viewingEmployee" [employeeID]="employeeID"></dashboard-employee-detail>
    

</div>