<!-- <ol class="breadcrumb">
  <li class="breadcrumb-item list ng-star-inserted" >
            <a routerLink="/{{domain}}/dashboard/home" class="ng-star-inserted">      Dashboard 
            </a>
        </li>
        <li class="breadcrumb-item list ng-star-inserted" >
            <a routerLink="/{{domain}}/dashboard/employee" class="ng-star-inserted">      
            	Employee 
            </a>
        </li>
  <li class="breadcrumb-item list">
  	{{id}}
  </li>
</ol>  -->

<div class="row">
    <div class="col-md-12">
    	<!-- Employee Records -->
        <div class="page-title-container col no-pad mar-t-0 mar-b-10">
            <p  class="page-title no-pad no-mar">
                <b>Employee Details: <i *ngIf="employee">{{ employee.user_data.first_name }} {{ employee.user_data.last_name }}</i></b>
            </p>
        </div>
        <div class="container admin-view" *ngIf="employee && !loading">
            <div class="col on-view">
                
                <!-- Employee List -->
                <div class="tab-content row" >
                    <!--Department Information-->
                    <div role="tabpanel" class="col tab-pane fade in active show border-top-0 pad-left-0 pad-right-0">

                    	<mat-accordion class="example-headers-align">

                                <mat-expansion-panel *ngIf="employee.user_data" [expanded]="true" (opened)="setStep(1)" hideToggle="true">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Personal data
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Name and Contact
                                        </mat-panel-description>
                                        <mat-icon>account_circle</mat-icon>
                                    </mat-expansion-panel-header>
                                        
                                    <form mat-form [formGroup]="employeeForm" id="employeeForm" novalidate>
                                        <div class="inline-block pull-left half-width text-left">
                                                <img class=""   *ngIf="(uploadedImage || defaultImage != null) && !loadingImage" ngShow="!loadingImage" [src]="defaultImage ? defaultImage : uploadedImage" width="100" height="100">
                                                <img class="rounded-circle" *ngIf="loadingImage" src="../../assets/icon/loading.gif"  width="50" height="50" alt="loading logo">
                                                <div>
                                                	<input hidden type='file'#imgFileInput (change)="readUrl($event)">
                                                    <label class="pull-left" for="file">Update</label>
                                                    <button class="pull-right" mat-button color="accent" 
                                                            mat-mini-fab (click)="imgFileInput.click();">
                                                        <mat-icon>attachment</mat-icon>
                                                    </button> 
                                                   
                                                </div>
                                        </div>

                                        <!-- <div class="inline-block pull-left half-width">
                                            
                                        </div> -->

                                        <div class="full-width row">
                                            <mat-form-field>
                                                <input matInput formControlName="first_name" placeholder="First name" [(ngModel)]="employee.user_data.first_name" required [readonly]="!canEditData">
                                            </mat-form-field>
                                            
                                            <mat-form-field>
                                                <input matInput formControlName="middle_name" placeholder="Middle name" [(ngModel)]="employee.user_data.middle_name" required [readonly]="!canEditData">
                                            </mat-form-field>

                                            <mat-form-field>
                                                <input matInput formControlName="last_name" placeholder="Last name" [(ngModel)]="employee.user_data.last_name" required [readonly]="!canEditData">
                                            </mat-form-field>

                                            <mat-form-field class="">
                                                <input matInput [matDatepicker]="picker" (blur)="setAge()" (input)="setAge()" formControlName="birth_date" placeholder="Birth Date" [matDatepicker]="picker" (focus)="picker.open()" [(ngModel)]="employee.user_data.birth_date" required [readonly]="!canEditData">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker touchUi="true" #picker (closed)="setAge()"></mat-datepicker>
                                                <mat-hint align="end">
                                                    <mat-icon class="mat-icon">schedule</mat-icon>
                                                    <span aria-live="polite">Age: {{ age ? age : 0}} </span>
                                                </mat-hint>
                                            </mat-form-field>
                                              
                                            <mat-form-field class="">
                                                <input matInput formControlName="contact_no" placeholder="Contact" [(ngModel)]="employee.user_data.contact_no" required [readonly]="!canEditData">
                                            </mat-form-field>

                                            <mat-form-field class="full-width">
                                                <input matInput formControlName="address" placeholder="Address" [(ngModel)]="employee.user_data.address" required [readonly]="!canEditData">
                                            </mat-form-field>

                                            <mat-form-field class="">
                                                <input matInput formControlName="city" placeholder="City" [(ngModel)]="employee.user_data.city" required [readonly]="!canEditData">
                                            </mat-form-field>
                                            
                                            <mat-form-field class="">
                                                <input matInput [(ngModel)]="employee.user_data.zip" formControlName="zip" #postalCode maxLength="4" placeholder="Postal Code" pattern="[0-9]{4}" required [readonly]="!canEditData">
                                                <mat-hint align="end">
                                                    <mat-icon>mode_edit</mat-icon>
                                                    <span aria-live="polite">{{postalCode.value.length}} / 4</span>
                                                </mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </form>

                                    <mat-action-row *ngIf="canEditData">
                                        <button mat-button color="primary" [disabled]="!employeeForm.valid && employeeForm.touched">Update</button>
                                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                                    </mat-action-row>
                                    
                                </mat-expansion-panel>

                            </mat-accordion>

                        <div *ngIf="loading" class="col-md-12 text-center">
                            <img src="../../assets/icon/loading.gif">
                        </div>

                    </div>
                </div>

            </div>
        </div>
       
    </div>

     <div  *ngIf="loading" class="col-md-12 text-center">
        <img src="../../../assets/icons/loading.gif">
    </div>
    
</div>